<nav class="navbar">
    <div class="container">
        <div class="nav-wrapper">
            <div class="logo">
                <span>Grocery Shop</span>
            </div>
        </div>
    </div>
</nav>